# TF-IDF Algorithm

In [1]:
import pandas as pd
import numpy as np
import nltk
import string
import re

In [2]:
df = pd.read_csv('HasilPreProcess.csv')
df

,Unnamed: 0,id,date,username,latitude,longitude,final_tweet
0,0,1387917769501515778,2021-04-29 23:52:37+00:00,MaseebAkhter,24.972077,67.064381,rd jumma mubarak
1,2,1387914934533513220,2021-04-29 23:41:21+00:00,PolsekPlaju3,-3.190822,104.794609,lawan covid sinergitas tni polri cegah tular c...
2,3,1387913431865610244,2021-04-29 23:35:22+00:00,irfania_real,31.315389,74.222395,jummah mubarak
3,4,1387911958393987075,2021-04-29 23:29:31+00:00,kenny_thok,-2.455096,111.930698,semangat ya neng isolasi pakai sek pondok deri...
4,5,1387907774441566213,2021-04-29 23:12:54+00:00,kejarirohul,0.902542,100.308263,kamis tanggal april kepala seksi intelijen ari...
...,...,...,...,...,...,...,...
8109,9332,1536673294782709760,2022-06-14 11:33:58+00:00,StellaSuwardi,-6.297602,106.770437,vaksinasi booster tingkat imunitas varian omic...
8110,9333,1536525461077262336,2022-06-14 01:46:31+00:00,natasya_puspa4,-6.364100,106.799599,jokowi menteri waspada hati hati varian omicro...
8111,9335,1536515216665899013,2022-06-14 01:05:49+00:00,Agistasyahka,-6.301652,106.974561,sebar virus omicron ba ba cepat banding varian...
8112,9336,1536358141377384448,2022-06-13 14:41:39+00:00,Ardi_Wdyto,-7.776581,113.198255,varian omicron
8113,9337,1536251604772745216,2022-06-13 07:38:19+00:00,gemaposID,-6.218042,106.857762,breaking news omicron ba ba resmi deteksi indo...

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df

,id,date,username,latitude,longitude,final_tweet
0,1387917769501515778,2021-04-29 23:52:37+00:00,MaseebAkhter,24.972077,67.064381,rd jumma mubarak
1,1387914934533513220,2021-04-29 23:41:21+00:00,PolsekPlaju3,-3.190822,104.794609,lawan covid sinergitas tni polri cegah tular c...
2,1387913431865610244,2021-04-29 23:35:22+00:00,irfania_real,31.315389,74.222395,jummah mubarak
3,1387911958393987075,2021-04-29 23:29:31+00:00,kenny_thok,-2.455096,111.930698,semangat ya neng isolasi pakai sek pondok deri...
4,1387907774441566213,2021-04-29 23:12:54+00:00,kejarirohul,0.902542,100.308263,kamis tanggal april kepala seksi intelijen ari...
...,...,...,...,...,...,...
8109,1536673294782709760,2022-06-14 11:33:58+00:00,StellaSuwardi,-6.297602,106.770437,vaksinasi booster tingkat imunitas varian omic...
8110,1536525461077262336,2022-06-14 01:46:31+00:00,natasya_puspa4,-6.364100,106.799599,jokowi menteri waspada hati hati varian omicro...
8111,1536515216665899013,2022-06-14 01:05:49+00:00,Agistasyahka,-6.301652,106.974561,sebar virus omicron ba ba cepat banding varian...
8112,1536358141377384448,2022-06-13 14:41:39+00:00,Ardi_Wdyto,-7.776581,113.198255,varian omicron
8113,1536251604772745216,2022-06-13 07:38:19+00:00,gemaposID,-6.218042,106.857762,breaking news omicron ba ba resmi deteksi indo...

In [13]:
import pandas as pd from sklearn.feature_extraction.text 
import TfidfTransformer from sklearn.feature_extraction.text 
import CountVectorizer 

X = df['final_tweet']

#instantiate CountVectorizer() 
cv=CountVectorizer() 
# this steps generates word counts for the words in your docs 
word_count_vector=cv.fit_transform(X)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [12]:
# from sklearn.feature_extraction.text import TfidfVectorizer

# tfidf = TfidfVectorizer(sublinear_tf=True, min_df=5, norm='l2', encoding='latin-1', ngram_range=(0,1))
# tfidf = tfidf.fit_transform(X_train).toarray()

from sklearn.feature_extraction.text import TfidfVectorizer 

# df = df.sample(frac=1, random_state=1)

X = df['final_tweet']

tfidfconverter = TfidfVectorizer(sublinear_tf=True, min_df=100,encoding='utf-8', ngram_range=(0,1))  
X = tfidfconverter.fit_transform(X.values.astype('U'))
# .toarray()
X

df = pd.DataFrame(X.T.todense(), 
                  index=X.get_feature_names(), 
                  columns=["tfidf"]) 
df.sort_values(by=["tfidf"], ascending=False)


#cosine -> dokumen 
#split token kata ke 1 dokumen -> identify distribusi kata -> nentuin min_df

AttributeError: 'numpy.ndarray' object has no attribute 'sample'

In [8]:
X.head(5)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [5]:
df = X

In [9]:
df.head(5)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [20]:
list(X[1])

[0.0,
 0.0,
 0.0,
 0.47318550121866937,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.24784774447953767,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.42739872183516847,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.41334508232564426,
 0.0,
 0.4362212688543733,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.41334508232564426,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

final_tweet = df['final_tweet']

# Create TF-IDF matrix
vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(final_tweet)

# Print feature names
print(vectorizer.get_feature_names())

# Print TF-IDF matrix
print(tfidf_matrix.toarray())

ValueError: np.nan is an invalid document, expected byte or unicode string.