In [1]:
# Run the pip install command below if you don't already have the library
!pip install git+https://github.com/JustAnotherArchivist/snscrape.git
# Run the below command if you don't already have Pandas
!pip install pandas
# Imports
import snscrape.modules.twitter as sntwitter
import pandas as pd
import snscrape.modules.twitter as sntwitter

Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to c:\users\fahmy\appdata\local\temp\pip-req-build-xwc48qn4
  Resolved https://github.com/JustAnotherArchivist/snscrape.git to commit f329b69ed4022c4e8af5be8a07d4f5a4125bd8d9
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: lxml in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from snscrape==0.5.0.20230114.dev31+gf329b69) (4.9.1)
Requirement already satisfied: requests[socks] in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from snscrape==0.5.0.20230114.dev31+gf329b69) (2.28.1)
Requirement already satisfied: filelock in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from snscrape==0.5.0.20230114.dev31+gf329b69) (3.9.0)
Requirement already satisfied: beautifulsoup4 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from snscrape==0.5.0.20230114.dev31+gf329b69) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from beautifulsoup4->snscrape==0.5.0.20230114.dev31+gf329b69) (2.3.2.post1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from requests[socks]->snscrape==0.5.0.20230114.dev31+gf329b69) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from requests[socks]->snscrape==0.5.0.20230114.dev31+gf329b69) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from requests[socks]->snscrape==0.5.0.20230114.dev31+gf329b69) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from requests[socks]->snscrape==0.5.0.20230114.dev31+gf329b69) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from requests[socks]->snscrape==0.5.0.20230114.dev31+gf329b69) (1.7.1)

  Running command git clone --filter=blob:none --quiet https://github.com/JustAnotherArchivist/snscrape.git 'C:\Users\fahmy\AppData\Local\Temp\pip-req-build-xwc48qn4'

Requirement already satisfied: pandas in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\fahmy\.conda\envs\skripsitwit\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import itertools
import pytz
from datetime import datetime
from tqdm.notebook import trange, tqdm
import json

In [14]:
df= pd.read_csv('1katakunciOMICRON.csv')
df

,id,date,username,renderedContent,coordinates,place,user
0,1486844529281957889,2022-01-27 23:32:14+00:00,NaN,@andrengapaks @drpriono1 Apakah varian omicron...,"{'longitude': 105.099716, 'latitude': -6.9997}","{'id': '6c8aa00f3ecfda7f', 'fullName': 'Banten...","{'username': 'adnrxst', 'id': 7332950142817812..."
1,1486533705707372549,2022-01-27 02:57:08+00:00,NaN,Syarat WNI ke luar negeri diperketat menyusul ...,"{'longitude': 110.734124, 'latitude': -3.5622}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'FabloKuala', 'id': 1356654896188..."
2,1486533001320153090,2022-01-27 02:54:20+00:00,NaN,Jamin Sistem Kesehatan RI Siap Hadapi Varian O...,"{'longitude': 110.734124, 'latitude': -3.5622}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'FabloKuala', 'id': 1356654896188..."
3,1486163997800169473,2022-01-26 02:28:03+00:00,NaN,Jamin Sistem Kesehatan RI Siap Hadapi Varian O...,"{'longitude': 102.2908579, 'latitude': -3.8678...","{'id': '8b71e19092609452', 'fullName': 'Gading...","{'username': 'MedeOcha', 'id': 126974759954574..."
4,1497782947197308933,2022-02-27 03:57:36+00:00,NaN,Varian Omicron Covid -19\nProkes Indonesia Seh...,"{'longitude': 100.4128484, 'latitude': -0.961836}","{'id': '8ef1cb1e8aeda2ca', 'fullName': 'Pauh, ...","{'username': 'catetajaa', 'id': 13565015249401..."
...,...,...,...,...,...,...,...
207,101,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671..."
208,102,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214..."
209,103,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '..."
210,104,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd..."
211,105,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490..."

In [15]:
df.drop('username', axis=1, inplace=True)

In [16]:
df

,id,date,renderedContent,coordinates,place,user
0,1486844529281957889,2022-01-27 23:32:14+00:00,@andrengapaks @drpriono1 Apakah varian omicron...,"{'longitude': 105.099716, 'latitude': -6.9997}","{'id': '6c8aa00f3ecfda7f', 'fullName': 'Banten...","{'username': 'adnrxst', 'id': 7332950142817812..."
1,1486533705707372549,2022-01-27 02:57:08+00:00,Syarat WNI ke luar negeri diperketat menyusul ...,"{'longitude': 110.734124, 'latitude': -3.5622}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'FabloKuala', 'id': 1356654896188..."
2,1486533001320153090,2022-01-27 02:54:20+00:00,Jamin Sistem Kesehatan RI Siap Hadapi Varian O...,"{'longitude': 110.734124, 'latitude': -3.5622}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'FabloKuala', 'id': 1356654896188..."
3,1486163997800169473,2022-01-26 02:28:03+00:00,Jamin Sistem Kesehatan RI Siap Hadapi Varian O...,"{'longitude': 102.2908579, 'latitude': -3.8678...","{'id': '8b71e19092609452', 'fullName': 'Gading...","{'username': 'MedeOcha', 'id': 126974759954574..."
4,1497782947197308933,2022-02-27 03:57:36+00:00,Varian Omicron Covid -19\nProkes Indonesia Seh...,"{'longitude': 100.4128484, 'latitude': -0.961836}","{'id': '8ef1cb1e8aeda2ca', 'fullName': 'Pauh, ...","{'username': 'catetajaa', 'id': 13565015249401..."
...,...,...,...,...,...,...
207,101,1536525461077262336,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671..."
208,102,1536525113289752576,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214..."
209,103,1536515216665899013,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '..."
210,104,1536358141377384448,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd..."
211,105,1536251604772745216,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490..."

In [17]:
df.to_csv('katakunciOMICRON.csv', mode='a', header=False)

In [26]:
dict = { 
    "1": "Varian Omicron"
}

In [10]:
# tweet = []
# username = tweet.user.username
maindf = pd.DataFrame(columns=["id","date","username","renderedContent","coordinates","place"])
maindf

Empty DataFrame
Columns: [id, date, username, renderedContent, coordinates, place]
Index: []

In [11]:
df = pd.DataFrame(columns=["id","date","username","renderedContent","coordinates","place"])

In [27]:
for value in dict.values():
    print(value)
    for i in trange(1, 7):
        i = str(i).zfill(2)
        print(i)
        df = pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper(
            f'{value} lang:"id" since:2022-{i}-01 until:2022-{i}-28').get_items(),1000))[["id","date","user","renderedContent","coordinates","place"]]
        # df.append([df.date, df.user.username, df.rawContent])
        df = df[df['coordinates'].notna()]
        maindf = pd.concat([maindf, df])
        maindf
        
        
# df.to_csv(r'C:\Users\fahmy\OneDrive\Documents\#SKRIPSI\coding\sesaknapasapril21.csv', encoding='utf-8',  index=False)

Varian Omicron

  0%|          | 0/6 [00:00<?, ?it/s]

01
02
03
04
05
06

In [28]:
maindf

,id,date,user,renderedContent,coordinates,place
1,1486844529281957889,2022-01-27 23:32:14+00:00,"{'username': 'adnrxst', 'id': 7332950142817812...",@andrengapaks @drpriono1 Apakah varian omicron...,"{'longitude': 105.099716, 'latitude': -6.9997}","{'id': '6c8aa00f3ecfda7f', 'fullName': 'Banten..."
381,1486533705707372549,2022-01-27 02:57:08+00:00,"{'username': 'FabloKuala', 'id': 1356654896188...",Syarat WNI ke luar negeri diperketat menyusul ...,"{'longitude': 110.734124, 'latitude': -3.5622}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra..."
382,1486533001320153090,2022-01-27 02:54:20+00:00,"{'username': 'FabloKuala', 'id': 1356654896188...",Jamin Sistem Kesehatan RI Siap Hadapi Varian O...,"{'longitude': 110.734124, 'latitude': -3.5622}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra..."
942,1486163997800169473,2022-01-26 02:28:03+00:00,"{'username': 'MedeOcha', 'id': 126974759954574...",Jamin Sistem Kesehatan RI Siap Hadapi Varian O...,"{'longitude': 102.2908579, 'latitude': -3.8678...","{'id': '8b71e19092609452', 'fullName': 'Gading..."
89,1497782947197308933,2022-02-27 03:57:36+00:00,"{'username': 'catetajaa', 'id': 13565015249401...",Varian Omicron Covid -19\nProkes Indonesia Seh...,"{'longitude': 100.4128484, 'latitude': -0.961836}","{'id': '8ef1cb1e8aeda2ca', 'fullName': 'Pauh, ..."
...,...,...,...,...,...,...
811,1536525461077262336,2022-06-14 01:46:31+00:00,"{'username': 'natasya_puspa4', 'id': 153378671...",Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka..."
813,1536525113289752576,2022-06-14 01:45:08+00:00,"{'username': 'Irwijaya_q', 'id': 1533710498214...",Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka..."
871,1536515216665899013,2022-06-14 01:05:49+00:00,"{'username': 'Agistasyahka', 'id': 59462305, '...",Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi..."
900,1536358141377384448,2022-06-13 14:41:39+00:00,"{'username': 'Ardi_Wdyto', 'id': 545649109, 'd...",Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang..."
967,1536251604772745216,2022-06-13 07:38:19+00:00,"{'username': 'gemaposID', 'id': 11836933654490...",BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram..."

In [29]:
maindf.to_csv(r'C:\Users\fahmy\1katakunciOMICRON.csv', encoding='utf-8', index=False)

In [30]:
maindf.shape

(106, 6)

In [7]:
maindf = pd.read_csv('13katakunci.csv')

In [9]:
del maindf['username']
maindf

,id,date,renderedContent,coordinates,place,user
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...","{'username': 'MaseebAkhter', 'id': 12366880726..."
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...","{'username': 'TANTRAYSAQLAIN1', 'id': 87079087..."
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...","{'username': 'PolsekPlaju3', 'id': 12331508078..."
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...","{'username': 'irfania_real', 'id': 13153645123..."
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'kenny_thok', 'id': 22171412, 'di..."
...,...,...,...,...,...,...
8683,1433707723359588355,2021-09-03 08:25:32+00:00,udah punya 5 teman yang bilang minum janji jiw...,"{'longitude': 106.608503, 'latitude': -6.219068}","{'id': 'a0ab46b927a3431d', 'fullName': 'Tanger...","{'username': 'sophiamega', 'id': 237335368, 'd..."
8684,1433644713198776327,2021-09-03 04:15:10+00:00,@drpriono1 @jokowi @BudiGSadikin @kemenkomarve...,"{'longitude': 110.355274, 'latitude': -7.795675}","{'id': '17c0da285d91d968', 'fullName': 'Gedong...","{'username': 'bakoelrotimanis', 'id': 12843002..."
8685,1433359952949637125,2021-09-02 09:23:37+00:00,Jawabannya: masa saya harus nyari lagi? \n\nME...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'levinaardia', 'id': 54512892, 'd..."
8686,1433051306923479051,2021-09-01 12:57:11+00:00,Ya Allah diare bikin pegel2 g sih,"{'longitude': 106.770437, 'latitude': -6.297602}","{'id': 'd74066a958870db1', 'fullName': 'Kebayo...","{'username': 'BabyMilliLover', 'id': 115320947..."
8687,1433027584414027783,2021-09-01 11:22:55+00:00,@devina_rd Bisa-bisanya diare sebulan ga ke do...,"{'longitude': 110.43971, 'latitude': -7.785058}","{'id': '985d2f4ed1a2b7ef', 'fullName': 'Kalasa...","{'username': 'LailyDinda', 'id': 956962920, 'd..."

In [18]:
maindf['user']

0       {'username': 'MaseebAkhter', 'id': 12366880726...
1       {'username': 'TANTRAYSAQLAIN1', 'id': 87079087...
2       {'username': 'PolsekPlaju3', 'id': 12331508078...
3       {'username': 'irfania_real', 'id': 13153645123...
4       {'username': 'kenny_thok', 'id': 22171412, 'di...
                              ...
8683    {'username': 'sophiamega', 'id': 237335368, 'd...
8684    {'username': 'bakoelrotimanis', 'id': 12843002...
8685    {'username': 'levinaardia', 'id': 54512892, 'd...
8686    {'username': 'BabyMilliLover', 'id': 115320947...
8687    {'username': 'LailyDinda', 'id': 956962920, 'd...
Name: user, Length: 8688, dtype: object

In [28]:
x = maindf['user']
dumpdf = json.dumps(x)


stdf = dumpdf.apply(json.loads)
pd.DataFrame(stdf.tolist())
# maindf.join(maindf['user'].apply(json.loads).apply(pd.Series))

# x = maindf['user']
# userdf = json.dumps(x)
# x = x.replace("'", '"')
# j = json.loads(x)
# j

TypeError: Object of type Series is not JSON serializable

In [31]:
# Load the CSV files into dataframes
df1 = pd.read_csv("1katakunciDELTA.csv")
df2 = pd.read_csv("1katakunciOMICRON.csv")

# Concatenate the dataframes vertically
combined_df = pd.concat([df1, df2])

# Save the combined dataframe to a new CSV file
combined_df.to_csv("2katakunciDeltaOmicron.csv", index=False)

In [32]:
df = pd.read_csv("2katakunciDeltaOmicron.csv")
df

,id,date,username,renderedContent,coordinates,place,user
0,1395902055512899585,2021-05-22 00:39:19+00:00,NaN,Tersedia dlm beberapa varian.:\nOriginal\nPlus...,"{'longitude': 106.704469, 'latitude': -6.189221}","{'id': '93aa30b3e9be6b59', 'fullName': 'Cengka...","{'username': 'Agusreev', 'id': 920988773403332..."
1,1393849451446374404,2021-05-16 08:43:00+00:00,NaN,Aneka varian jahe merah aren. \nPasti halal\nP...,"{'longitude': 106.704469, 'latitude': -6.189221}","{'id': '93aa30b3e9be6b59', 'fullName': 'Cengka...","{'username': 'Agusreev', 'id': 920988773403332..."
2,1410007341664116743,2021-06-29 22:48:41+00:00,NaN,ini hari ketiga gue positif covid... ahh sedih...,"{'longitude': 106.909353, 'latitude': -6.2215589}","{'id': 'ac9f3b0d4a96ff80', 'fullName': 'Cakung...","{'username': 'no0vembergurl', 'id': 1086996212..."
3,1409910127491096578,2021-06-29 16:22:23+00:00,NaN,Kabar bahagia nih. Di sela-sela corona varian...,"{'longitude': 106.633275, 'latitude': -6.24277}","{'id': '98f7d75fb2952075', 'fullName': 'Cipond...","{'username': 'mamavanenbas', 'id': 212506085, ..."
4,1409902423947169793,2021-06-29 15:51:47+00:00,NaN,Artinya ppkm mikro utk varian alfa tentu harus...,"{'longitude': 106.655517, 'latitude': -6.404858}","{'id': '2c9e37ebb2f10734', 'fullName': 'Gunung...","{'username': 'suhardihasyim', 'id': 113268555,..."
...,...,...,...,...,...,...,...
645,1536525461077262336,2022-06-14 01:46:31+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671..."
646,1536525113289752576,2022-06-14 01:45:08+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214..."
647,1536515216665899013,2022-06-14 01:05:49+00:00,NaN,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '..."
648,1536358141377384448,2022-06-13 14:41:39+00:00,NaN,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd..."
649,1536251604772745216,2022-06-13 07:38:19+00:00,NaN,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490..."

In [33]:
df = pd.read_csv("13katakunci.csv")
df

,id,date,username,renderedContent,coordinates,place,user
0,1387917769501515778,2021-04-29 23:52:37+00:00,NaN,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...","{'username': 'MaseebAkhter', 'id': 12366880726..."
1,1387915894769160192,2021-04-29 23:45:10+00:00,NaN,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...","{'username': 'TANTRAYSAQLAIN1', 'id': 87079087..."
2,1387914934533513220,2021-04-29 23:41:21+00:00,NaN,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...","{'username': 'PolsekPlaju3', 'id': 12331508078..."
3,1387913431865610244,2021-04-29 23:35:22+00:00,NaN,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...","{'username': 'irfania_real', 'id': 13153645123..."
4,1387911958393987075,2021-04-29 23:29:31+00:00,NaN,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'kenny_thok', 'id': 22171412, 'di..."
...,...,...,...,...,...,...,...
8683,1433707723359588355,2021-09-03 08:25:32+00:00,NaN,udah punya 5 teman yang bilang minum janji jiw...,"{'longitude': 106.608503, 'latitude': -6.219068}","{'id': 'a0ab46b927a3431d', 'fullName': 'Tanger...","{'username': 'sophiamega', 'id': 237335368, 'd..."
8684,1433644713198776327,2021-09-03 04:15:10+00:00,NaN,@drpriono1 @jokowi @BudiGSadikin @kemenkomarve...,"{'longitude': 110.355274, 'latitude': -7.795675}","{'id': '17c0da285d91d968', 'fullName': 'Gedong...","{'username': 'bakoelrotimanis', 'id': 12843002..."
8685,1433359952949637125,2021-09-02 09:23:37+00:00,NaN,Jawabannya: masa saya harus nyari lagi? \n\nME...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'levinaardia', 'id': 54512892, 'd..."
8686,1433051306923479051,2021-09-01 12:57:11+00:00,NaN,Ya Allah diare bikin pegel2 g sih,"{'longitude': 106.770437, 'latitude': -6.297602}","{'id': 'd74066a958870db1', 'fullName': 'Kebayo...","{'username': 'BabyMilliLover', 'id': 115320947..."
8687,1433027584414027783,2021-09-01 11:22:55+00:00,NaN,@devina_rd Bisa-bisanya diare sebulan ga ke do...,"{'longitude': 110.43971, 'latitude': -7.785058}","{'id': '985d2f4ed1a2b7ef', 'fullName': 'Kalasa...","{'username': 'LailyDinda', 'id': 956962920, 'd..."

In [34]:
# Load the CSV files into dataframes
df1 = pd.read_csv("13katakunci.csv")
df2 = pd.read_csv("2katakunciDeltaOmicron.csv")

# Concatenate the dataframes vertically
combined_df = pd.concat([df1, df2])

# Save the combined dataframe to a new CSV file
combined_df.to_csv("15katakunci.csv", index=False)

In [35]:
df = pd.read_csv("15katakunci.csv")
df

,id,date,username,renderedContent,coordinates,place,user
0,1387917769501515778,2021-04-29 23:52:37+00:00,NaN,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...","{'username': 'MaseebAkhter', 'id': 12366880726..."
1,1387915894769160192,2021-04-29 23:45:10+00:00,NaN,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...","{'username': 'TANTRAYSAQLAIN1', 'id': 87079087..."
2,1387914934533513220,2021-04-29 23:41:21+00:00,NaN,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...","{'username': 'PolsekPlaju3', 'id': 12331508078..."
3,1387913431865610244,2021-04-29 23:35:22+00:00,NaN,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...","{'username': 'irfania_real', 'id': 13153645123..."
4,1387911958393987075,2021-04-29 23:29:31+00:00,NaN,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'kenny_thok', 'id': 22171412, 'di..."
...,...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671..."
9334,1536525113289752576,2022-06-14 01:45:08+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214..."
9335,1536515216665899013,2022-06-14 01:05:49+00:00,NaN,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '..."
9336,1536358141377384448,2022-06-13 14:41:39+00:00,NaN,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd..."
9337,1536251604772745216,2022-06-13 07:38:19+00:00,NaN,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490..."

In [36]:
df.drop('username', axis=1, inplace=True)
df

,id,date,renderedContent,coordinates,place,user
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...","{'username': 'MaseebAkhter', 'id': 12366880726..."
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...","{'username': 'TANTRAYSAQLAIN1', 'id': 87079087..."
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...","{'username': 'PolsekPlaju3', 'id': 12331508078..."
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...","{'username': 'irfania_real', 'id': 13153645123..."
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'kenny_thok', 'id': 22171412, 'di..."
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671..."
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214..."
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '..."
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd..."
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490..."

In [10]:
df = pd.read_csv('15katakunci.csv')
df

,id,date,username,renderedContent,coordinates,place,user
0,1387917769501515778,2021-04-29 23:52:37+00:00,NaN,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...","{'username': 'MaseebAkhter', 'id': 12366880726..."
1,1387915894769160192,2021-04-29 23:45:10+00:00,NaN,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...","{'username': 'TANTRAYSAQLAIN1', 'id': 87079087..."
2,1387914934533513220,2021-04-29 23:41:21+00:00,NaN,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...","{'username': 'PolsekPlaju3', 'id': 12331508078..."
3,1387913431865610244,2021-04-29 23:35:22+00:00,NaN,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...","{'username': 'irfania_real', 'id': 13153645123..."
4,1387911958393987075,2021-04-29 23:29:31+00:00,NaN,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'kenny_thok', 'id': 22171412, 'di..."
...,...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671..."
9334,1536525113289752576,2022-06-14 01:45:08+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214..."
9335,1536515216665899013,2022-06-14 01:05:49+00:00,NaN,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '..."
9336,1536358141377384448,2022-06-13 14:41:39+00:00,NaN,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd..."
9337,1536251604772745216,2022-06-13 07:38:19+00:00,NaN,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490..."

In [12]:
df['first'] = df['user'].str.split(',').str[0]
df

,id,date,username,renderedContent,coordinates,place,user,first
0,1387917769501515778,2021-04-29 23:52:37+00:00,NaN,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...","{'username': 'MaseebAkhter', 'id': 12366880726...",{'username': 'MaseebAkhter'
1,1387915894769160192,2021-04-29 23:45:10+00:00,NaN,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...","{'username': 'TANTRAYSAQLAIN1', 'id': 87079087...",{'username': 'TANTRAYSAQLAIN1'
2,1387914934533513220,2021-04-29 23:41:21+00:00,NaN,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...","{'username': 'PolsekPlaju3', 'id': 12331508078...",{'username': 'PolsekPlaju3'
3,1387913431865610244,2021-04-29 23:35:22+00:00,NaN,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...","{'username': 'irfania_real', 'id': 13153645123...",{'username': 'irfania_real'
4,1387911958393987075,2021-04-29 23:29:31+00:00,NaN,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'kenny_thok', 'id': 22171412, 'di...",{'username': 'kenny_thok'
...,...,...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671...",{'username': 'natasya_puspa4'
9334,1536525113289752576,2022-06-14 01:45:08+00:00,NaN,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214...",{'username': 'Irwijaya_q'
9335,1536515216665899013,2022-06-14 01:05:49+00:00,NaN,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '...",{'username': 'Agistasyahka'
9336,1536358141377384448,2022-06-13 14:41:39+00:00,NaN,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd...",{'username': 'Ardi_Wdyto'
9337,1536251604772745216,2022-06-13 07:38:19+00:00,NaN,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490...",{'username': 'gemaposID'

In [14]:
df.drop('username', axis=1, inplace=True)
df

,id,date,renderedContent,coordinates,place,user,first
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...","{'username': 'MaseebAkhter', 'id': 12366880726...",{'username': 'MaseebAkhter'
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...","{'username': 'TANTRAYSAQLAIN1', 'id': 87079087...",{'username': 'TANTRAYSAQLAIN1'
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...","{'username': 'PolsekPlaju3', 'id': 12331508078...",{'username': 'PolsekPlaju3'
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...","{'username': 'irfania_real', 'id': 13153645123...",{'username': 'irfania_real'
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...","{'username': 'kenny_thok', 'id': 22171412, 'di...",{'username': 'kenny_thok'
...,...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'natasya_puspa4', 'id': 153378671...",{'username': 'natasya_puspa4'
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...","{'username': 'Irwijaya_q', 'id': 1533710498214...",{'username': 'Irwijaya_q'
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...","{'username': 'Agistasyahka', 'id': 59462305, '...",{'username': 'Agistasyahka'
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...","{'username': 'Ardi_Wdyto', 'id': 545649109, 'd...",{'username': 'Ardi_Wdyto'
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...","{'username': 'gemaposID', 'id': 11836933654490...",{'username': 'gemaposID'

In [16]:
df.drop('user', axis=1, inplace=True)
df

,id,date,renderedContent,coordinates,place,first
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...",{'username': 'MaseebAkhter'
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...",{'username': 'TANTRAYSAQLAIN1'
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...",{'username': 'PolsekPlaju3'
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...",{'username': 'irfania_real'
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...",{'username': 'kenny_thok'
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...",{'username': 'natasya_puspa4'
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...",{'username': 'Irwijaya_q'
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...",{'username': 'Agistasyahka'
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...",{'username': 'Ardi_Wdyto'
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...",{'username': 'gemaposID'

In [21]:
df['first'] = df['first'].str.replace("{'username': ',?" , "")
df

C:\Users\fahmy\AppData\Local\Temp\ipykernel_10816\2904762794.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['first'] = df['first'].str.replace("{'username': ',?" , "")

,id,date,renderedContent,coordinates,place,first
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...",MaseebAkhter'
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...",TANTRAYSAQLAIN1'
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...",PolsekPlaju3'
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...",irfania_real'
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...",kenny_thok'
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...",natasya_puspa4'
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...",Irwijaya_q'
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...",Agistasyahka'
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...",Ardi_Wdyto'
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...",gemaposID'

In [22]:
df['first'] = df['first'].str.replace("',?" , "")
df

C:\Users\fahmy\AppData\Local\Temp\ipykernel_10816\43411353.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['first'] = df['first'].str.replace("',?" , "")

,id,date,renderedContent,coordinates,place,first
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...","{'id': '0fc27ecfff95b001', 'fullName': 'UP Mor...",MaseebAkhter
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}","{'id': '67e03c802d5b6921', 'fullName': 'Baramu...",TANTRAYSAQLAIN1
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}","{'id': '202f13a0edbb28ca', 'fullName': 'Rambut...",PolsekPlaju3
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...","{'id': '07d9e8b769487000', 'fullName': 'Bahria...",irfania_real
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}","{'id': '413c7bba7bac61a4', 'fullName': 'Centra...",kenny_thok
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...",natasya_puspa4
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}","{'id': '4cb9dedf236475ad', 'fullName': 'Jagaka...",Irwijaya_q
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}","{'id': '1a29683becc7959b', 'fullName': 'Bekasi...",Agistasyahka
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}","{'id': '8936c31baf0be9ef', 'fullName': 'Mayang...",Ardi_Wdyto
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}","{'id': '6c1ede2df1be1e0d', 'fullName': 'Matram...",gemaposID

In [24]:
df.drop('place', axis=1, inplace=True)
df

KeyError: "['place'] not found in axis"

In [25]:
df

,id,date,renderedContent,coordinates,first
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,"{'longitude': 67.06438097760116, 'latitude': 2...",MaseebAkhter
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,"{'longitude': 74.1197462, 'latitude': 33.5245947}",TANTRAYSAQLAIN1
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,"{'longitude': 104.794609, 'latitude': -3.190822}",PolsekPlaju3
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,"{'longitude': 74.22239485207925, 'latitude': 3...",irfania_real
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,"{'longitude': 111.9306977, 'latitude': -2.455096}",kenny_thok
...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}",natasya_puspa4
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,"{'longitude': 106.799599, 'latitude': -6.3641}",Irwijaya_q
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,"{'longitude': 106.974561, 'latitude': -6.301652}",Agistasyahka
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),"{'longitude': 113.198255, 'latitude': -7.776581}",Ardi_Wdyto
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,"{'longitude': 106.857762, 'latitude': -6.218042}",gemaposID

In [26]:
df[['coordinates','latitude']] = df['coordinates'].str.split(',',expand=True)
df

,id,date,renderedContent,coordinates,first,latitude
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,{'longitude': 67.06438097760116,MaseebAkhter,'latitude': 24.97207737170869}
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,{'longitude': 74.1197462,TANTRAYSAQLAIN1,'latitude': 33.5245947}
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,{'longitude': 104.794609,PolsekPlaju3,'latitude': -3.190822}
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,{'longitude': 74.22239485207925,irfania_real,'latitude': 31.315389012270852}
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,{'longitude': 111.9306977,kenny_thok,'latitude': -2.455096}
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,{'longitude': 106.799599,natasya_puspa4,'latitude': -6.3641}
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,{'longitude': 106.799599,Irwijaya_q,'latitude': -6.3641}
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,{'longitude': 106.974561,Agistasyahka,'latitude': -6.301652}
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),{'longitude': 113.198255,Ardi_Wdyto,'latitude': -7.776581}
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,{'longitude': 106.857762,gemaposID,'latitude': -6.218042}

In [28]:
df['coordinates'] = df['coordinates'].str.replace("{'longitude': ,?" , "")
df

C:\Users\fahmy\AppData\Local\Temp\ipykernel_10816\2969653820.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['coordinates'] = df['coordinates'].str.replace("{'longitude': ,?" , "")

,id,date,renderedContent,coordinates,first,latitude
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,67.06438097760116,MaseebAkhter,'latitude': 24.97207737170869}
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,74.1197462,TANTRAYSAQLAIN1,'latitude': 33.5245947}
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,104.794609,PolsekPlaju3,'latitude': -3.190822}
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,74.22239485207925,irfania_real,'latitude': 31.315389012270852}
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,111.9306977,kenny_thok,'latitude': -2.455096}
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,natasya_puspa4,'latitude': -6.3641}
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,Irwijaya_q,'latitude': -6.3641}
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,106.974561,Agistasyahka,'latitude': -6.301652}
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),113.198255,Ardi_Wdyto,'latitude': -7.776581}
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,106.857762,gemaposID,'latitude': -6.218042}

In [29]:
df['latitude'] = df.latitude.str.replace("'latitude': ,?" , "")
df

C:\Users\fahmy\AppData\Local\Temp\ipykernel_10816\1682136878.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['latitude'] = df.latitude.str.replace("'latitude': ,?" , "")

,id,date,renderedContent,coordinates,first,latitude
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,67.06438097760116,MaseebAkhter,24.97207737170869}
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,74.1197462,TANTRAYSAQLAIN1,33.5245947}
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,104.794609,PolsekPlaju3,-3.190822}
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,74.22239485207925,irfania_real,31.315389012270852}
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,111.9306977,kenny_thok,-2.455096}
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,natasya_puspa4,-6.3641}
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,Irwijaya_q,-6.3641}
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,106.974561,Agistasyahka,-6.301652}
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),113.198255,Ardi_Wdyto,-7.776581}
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,106.857762,gemaposID,-6.218042}

In [30]:
df['latitude'] = df.latitude.str.replace("},?" , "")
df

C:\Users\fahmy\AppData\Local\Temp\ipykernel_10816\1398592980.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['latitude'] = df.latitude.str.replace("},?" , "")

,id,date,renderedContent,coordinates,first,latitude
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,67.06438097760116,MaseebAkhter,24.97207737170869
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,74.1197462,TANTRAYSAQLAIN1,33.5245947
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,104.794609,PolsekPlaju3,-3.190822
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,74.22239485207925,irfania_real,31.315389012270852
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,111.9306977,kenny_thok,-2.455096
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,natasya_puspa4,-6.3641
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,Irwijaya_q,-6.3641
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,106.974561,Agistasyahka,-6.301652
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),113.198255,Ardi_Wdyto,-7.776581
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,106.857762,gemaposID,-6.218042

In [36]:
# Or rename the existing DataFrame (rather than creating a copy) 
df.rename(columns={'first': 'username','content': 'tweet','coordinates': 'longitude'}, inplace=True)
df

,id,date,tweet,longitude,username,latitude
0,1387917769501515778,2021-04-29 23:52:37+00:00,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,67.06438097760116,MaseebAkhter,24.97207737170869
1,1387915894769160192,2021-04-29 23:45:10+00:00,@bollywood_life Lanat hai bollywood par jis na...,74.1197462,TANTRAYSAQLAIN1,33.5245947
2,1387914934533513220,2021-04-29 23:41:21+00:00,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,104.794609,PolsekPlaju3,-3.190822
3,1387913431865610244,2021-04-29 23:35:22+00:00,Jummah Mubarak \n#irfaniarealestate #jummahmub...,74.22239485207925,irfania_real,31.315389012270852
4,1387911958393987075,2021-04-29 23:29:31+00:00,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,111.9306977,kenny_thok,-2.455096
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,natasya_puspa4,-6.3641
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Pak Jokowi minta para menterinya mewaspadai da...,106.799599,Irwijaya_q,-6.3641
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,106.974561,Agistasyahka,-6.301652
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Varian baru omicron lagi :),113.198255,Ardi_Wdyto,-7.776581
9337,1536251604772745216,2022-06-13 07:38:19+00:00,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,106.857762,gemaposID,-6.218042

In [37]:
df = df[['id', 'date', 'username', 'tweet','latitude','longitude']]
df

,id,date,username,tweet,latitude,longitude
0,1387917769501515778,2021-04-29 23:52:37+00:00,MaseebAkhter,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,24.97207737170869,67.06438097760116
1,1387915894769160192,2021-04-29 23:45:10+00:00,TANTRAYSAQLAIN1,@bollywood_life Lanat hai bollywood par jis na...,33.5245947,74.1197462
2,1387914934533513220,2021-04-29 23:41:21+00:00,PolsekPlaju3,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,-3.190822,104.794609
3,1387913431865610244,2021-04-29 23:35:22+00:00,irfania_real,Jummah Mubarak \n#irfaniarealestate #jummahmub...,31.315389012270852,74.22239485207925
4,1387911958393987075,2021-04-29 23:29:31+00:00,kenny_thok,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,-2.455096,111.9306977
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,natasya_puspa4,Pak Jokowi minta para menterinya mewaspadai da...,-6.3641,106.799599
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Irwijaya_q,Pak Jokowi minta para menterinya mewaspadai da...,-6.3641,106.799599
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Agistasyahka,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,-6.301652,106.974561
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Ardi_Wdyto,Varian baru omicron lagi :),-7.776581,113.198255
9337,1536251604772745216,2022-06-13 07:38:19+00:00,gemaposID,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,-6.218042,106.857762

In [39]:
df.to_csv('HasilScraping.csv')
df

,id,date,username,tweet,latitude,longitude
0,1387917769501515778,2021-04-29 23:52:37+00:00,MaseebAkhter,3RD JUMMA MUBARAK\n💖 💖 💖 💖 💖 \n#Ramadan2021 #w...,24.97207737170869,67.06438097760116
1,1387915894769160192,2021-04-29 23:45:10+00:00,TANTRAYSAQLAIN1,@bollywood_life Lanat hai bollywood par jis na...,33.5245947,74.1197462
2,1387914934533513220,2021-04-29 23:41:21+00:00,PolsekPlaju3,Bersama Kita Lawan Covid-19\n\nSinergitas TNI-...,-3.190822,104.794609
3,1387913431865610244,2021-04-29 23:35:22+00:00,irfania_real,Jummah Mubarak \n#irfaniarealestate #jummahmub...,31.315389012270852,74.22239485207925
4,1387911958393987075,2021-04-29 23:29:31+00:00,kenny_thok,Semangat ya neng!!!!\nIsolasi pake 3M sek....\...,-2.455096,111.9306977
...,...,...,...,...,...,...
9333,1536525461077262336,2022-06-14 01:46:31+00:00,natasya_puspa4,Pak Jokowi minta para menterinya mewaspadai da...,-6.3641,106.799599
9334,1536525113289752576,2022-06-14 01:45:08+00:00,Irwijaya_q,Pak Jokowi minta para menterinya mewaspadai da...,-6.3641,106.799599
9335,1536515216665899013,2022-06-14 01:05:49+00:00,Agistasyahka,Penyebaran virus Omicron BA.4 dan BA.5 ini leb...,-6.301652,106.974561
9336,1536358141377384448,2022-06-13 14:41:39+00:00,Ardi_Wdyto,Varian baru omicron lagi :),-7.776581,113.198255
9337,1536251604772745216,2022-06-13 07:38:19+00:00,gemaposID,BREAKING NEWS!!\nOmicron BA.4 dan BA.5 resmi t...,-6.218042,106.857762